<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UltraNews</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>

    <p align="center"><a href="../News/List"><img width = 30%  align="middle" src = @Url.Content("~/Content/Images/Title.png")/> </a></p>
    


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
